<!-- Export Options -->
<h2 class="text-center">Step 4: Export CSV and Send Values to Wireframe</h2>
<div class="row ">
    <div class="col">
        <a type="button" class="btn btn-lg btn-danger btn-block" href="#">Send Liquid Values to Wireframe</a>
    </div>
    <div class="col">
        <a type="button" class="btn btn-lg btn-secondary btn-block" href="#">Download CSV</a>
    </div>
</div>