<h2 class="text-center">Step 3: Fill In Client Data</h2>

    <div class="tab-content" id="nav-tabContent">
      <!-- Liquid Value Tab -->
      <div class="tab-pane fade show active" id="seo-lv-section" role="tabpanel" aria-labelledby="seo-lv-tab">
        <% include lv-section.ejs %>
      </div>
      <!-- Keyword Research Tab -->
      <div class="tab-pane fade" id="keyword-research-section" role="tabpanel" aria-labelledby="keyword-research-tab">
          <% include keyword-research-section.ejs %>
      </div>
      <!-- Redirects Tab -->
      <div class="tab-pane fade" id="redirects-section" role="tabpanel" aria-labelledby="redirects-tab">
        <% include redirects-section.ejs %>
      </div>
    </div>