<!-- Initial Client Attributes of Vertical, Domain Strategy, Chain Branding -->
<div class="row initial-selections">
    <div class="col-sm text-center">
        <h3>Client Vertical</h3>
        <select id="vertical" class="form-control form-control-lg" >
            <option>Select</option>
            <option value="mf" >Multi-Family</option>
            <option value="ss">Self Storage</option>
            <option value="sl">Senior Living</option>
        </select>
    </div>
    <div class="col-sm text-center">
        <h3>Domain Strategy</h3>
        <select id="domain-strat" class="form-control form-control-lg" >
            <option>Select</option>
            <option>Multi Domain</option>
            <option>Single Domain</option>
        </select>
    </div>
    <div class="col-sm text-right">
        <h3 class="text-center">Chain Branding</h3>
        <select id="chain-brand" class="form-control form-control-lg" >
            <option>Select</option>
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
</div>