<p class="text-center"><i>Instructions: Please paste all keywords in their appropriate fields in comma seperated format before running Generate Keywords/Phrases</i></p>

<div class="row initial-selections">
    <div class="col-sm text-center">
        <select id="select-location" class="form-control form-control-lg" >
            <option value="">Select Location</option>
            <option value="loc1">Amazing Apartments</option>
        </select>
    </div>
    <div class="col-sm text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block">Generate Keywords/Phrases</button>
    </div>
</div>
<div class="row initial-selections">
    <div class="col-sm text-center neightborhood-keywords-col">
        <h3>Neighborhood Keywords</h3>
        <textarea id="neightborhood-keywords" rows="10" placeholder="Paste your comma seperated Neighborhood Keywords here"></textarea>
    </div>
    <div class="col-sm text-center landmark-keywords-col">
        <h3>Landmark Keywords</h3>
        <textarea id="landmark-keywords" rows="10" placeholder="Paste your comma seperated Landmark Keywords here"></textarea>
    </div>
    <div class="col-sm text-right amenity-keywords-col">
        <h3 class="text-center">Amenity Keywords</h3>
        <textarea id="amenity-phrases" rows="10" placeholder="Paste your comma seperated Amenity Keywords here"></textarea>
    </div>
</div>
<div class="row initial-selections">
    <div class="col-sm text-center">
        <h3>Neighborhood Phrases</h3>
        <textarea id="neighborhood-phrases" rows="10" placeholder="Neighborhood Phrases will auto-populate here after running generate keywords"></textarea>
    </div>
    <div class="col-sm text-center">
        <h3>Landmark Phrases</h3>
        <textarea id="landmark-phrases" rows="10" placeholder="Landmark Phrases will auto-populate here after running generate keywords"></textarea>
    </div>
    <div class="col-sm text-right amenity-phrases-col">
        <h3 class="text-center">Amenity Phrases</h3>
        <textarea id="amenity-phrases" rows="10" placeholder="Amenity Phrases will auto-populate here after running generate keywords"></textarea>
    </div>
</div>