<h2 class="text-center">Step 2: Select Location</h2>
<div class="row">
    <div class="col-3 text-center"></div>
    <div class="col-6 text-center">
        <div class="dropdown">
            <button class="btn btn-lg btn-primary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Location
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Fun Zone Apartments</a> 
            </div>
          </div>
    </div>
    <div class="col-3 text-center"></div>
</div>
