<h2 class="text-center">Step 2: Select Location</h2>
<div class="row">
    <div class="col-3 text-center"></div>
    <div class="col-6 text-center">
      <select id="locations" class="form-control form-control-lg" >
        <option value="">Select Location</option>
        <option value="ex1" >Bend Apartments</option>
        <option value="ex2">Bend Apartments 1</option>
        <option value="ex3">Bend Apartments 2</option>
      </select>
    </div>
    <div class="col-3 text-center"></div>
</div>

