<!-- SEO Liquid Values Section -->
<div class="row text-center">
    <div class="col">
      <a type="button" class="btn btn-lg btn-primary btn-block" href="#">Upload CSV</a>
    </div>
    <div class="col">
      <a type="button" class="btn btn-lg btn-secondary btn-block" href="#">Download CSV</a>
    </div>
    <div class="col">
      <a type="button" class="btn btn-lg btn-danger btn-block" href="#">Send Liquid Values to Wireframe</a>
    </div>
</div>
<!-- SEO Liquid Values Table Headers Loads with MF Headers -->
<div class="table-responsive lv-table" id="mf">
    <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-sm table-striped text-center">
            <thead>
            <tr class = "text-center">
                <th scope = "col" id="name">Brand Name</th>
                <th scope = "col" id="usps"> USPS Val</th>
                <th scope = "col" id="addr">Address</th>
                <th scope = "col" id="city">City</th>
                <th scope = "col" id="state">State</th>
                <th scope = "col" id="zip">Zip</th>
                <th scope = "col" id="n1">Neighborhood</th>
                <th scope = "col" id="n2">Neighborhood 2</th>
                <th scope = "col" id="lndmrk">Landmark</th>
                <th scope = "col" id="apt-amen">Apartment Amenity</th>
                <th scope = "col" id="com-amen">Community Amenity</th>`
                <th scope = "col" id="slug">Slug</th>
                <th scope = "col" id="strgy">Strategy</th>
                <th scope = "col" id="gmb">GMB</th>
                <th scope = "col" id="ga">GA</th>
                <th scope = "col" id="rdr">Redirects</th>
                <th scope = "col" id="notes">Notes</th>
                <th scope = "col" id="rmve">Remove</th>
            </tr>
            </thead>
        </table>
    </div>
  </div>