<nav class="navbar navbar-expand-lg  bg-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><img id="logo" src="/g5-logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h4 class="title">SEO Implementation Toolset</h4>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="nav nav-tabs navbar-nav ml-auto" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="seo-lv-tab" data-toggle="tab" href="#seo-lv-section" role="tab" aria-controls="seo-lv-section" aria-selected="true">Liquid Values</a>
        <a class="nav-item nav-link" id="keyword-research-tab" data-toggle="tab" href="#keyword-research-section" role="tab" aria-controls="keyword-research-section" aria-selected="false">Keyword Research Accelerator</a>
        <a class="nav-item nav-link" id="redirects-tab" data-toggle="tab" href="#redirects-section" role="tab" aria-controls="redirects-section" aria-selected="false">Redirects</a>
      </div>
    </div>
  </div>
</nav>