<nav class="navbar navbar-expand-lg  bg-light fixed-top" id="mainNav page-top">
  <div class="container" >
    <a href="#page-top" class="navbar-brand js-scroll-trigger" ><img id="logo" src="/g5-logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h4 class="title" >SEO Implementation Toolset</h4>
  </div>
</nav>