<h2 class="text-center" id="redirects-header">Redirects</h2>
<p class="text-center"><i>Instructions: Please select a location, strategy, and paste all redirects below</i></p>
<div class="row text-center redirects-strategy">
    <div class="col-sm text-center">
        <select id="select-location-redirects" class="form-control form-control-lg" >
            <option value="">Select Location</option>
            <option value="loc1">Amazing Apartments</option>
        </select>
    </div>
    <div class="col-sm text-center">
        <select id="redirect-menu" class="form-control form-control-lg" >
            <option value="">Select Strategy</option>
            <option value="same-dom">Same Domain</option>
            <option value="cross-dom">Cross Domain</option>
            <option value="sec-cross-dom">Secure Cross Domain</option>
            <option value="sec-naked" >Secure Naked - Same Domain</option>
            <option value="no-redirects">No Redirects</option>
        </select>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="format-redirects">Format Redirects</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="send-redirects-wf">Send Redirects to Wireframe</button>
    </div>  
</div>
<div class="row pt-4">
    <div class="col-sm text-center ">
        <textarea id="redirects-text" rows="10" placeholder="Paste your redirects here"></textarea>
    </div>
</div>
<!-- Redirects Table Headers -->
<div class="table-responsive pt-4" id="redirects-table">
    <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-sm table-striped text-center">
            <thead class="redirects-table-head">
                <tr class = "text-center">
                    <th scope = "col" id="red-loc-name">Location Name</th>
                    <th scope = "col" id="red-strat">Redirect Strategy</th>
                    <th scope = "col" id="curr-url">Current URL</th>
                    <th scope = "col" id="cloud-form">Cloud Formatted</th>
                    <th scope = "col" id="wildcard">Wildcard</th>
                    <th scope = "col" id="rmve">Remove</th>
                </tr>
            </thead>
            <tbody class="redirects-table-body"></tbody>
        </table>
    </div>
</div>