<div class="row initial-selections">
    <div class="col-sm text-center">
        <select id="select-location" class="form-control form-control-lg" >
            <option>Select Location</option>
        </select>
    </div>
    <div class="col-sm text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block">Generate Keywords</button>
    </div>
</div>