<div class="row">
    <div class="col-sm">
      <div class="dropdown">
        <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Vertical
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Multi Family</a>
          <a class="dropdown-item" href="#">Self Storage</a>
          <a class="dropdown-item" href="#">Senior Living</a>
        </div>
      </div>
    </div>
    <div class="col-sm text-center">
      <div class="dropdown">
        <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Domain Strategy
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Single Domain</a>
          <a class="dropdown-item" href="#">Multi Domain</a>
        </div>
      </div>
    </div>
    <div class="col-sm text-right">
      <div class="dropdown">
        <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Chain Branding?
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Yes</a>
          <a class="dropdown-item" href="#">No</a>
        </div>
      </div>
    </div>
  </div>