.jumbotron {
  background: #7c98ab;
  color: white;
  padding-bottom: 50px; 
}
.btn-primary {
  background: #0d2240;
  border-color: #0d2240; 
  color: white;
}
.btn-primary:hover {
  background: #9ea7b3;
  border-color: #9ea7b3;  
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}
.navbar + .jumbotron {
  margin-top: -20px; 
}
.jumbotron .g5-logo {
  display: block;
  background: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: auto;
  border: 2px solid white; 
}
.jumbotron .g5-logo img {
  max-width: 100%; 
}

