.jumbotron {
  background: #7c98ab;
  color: white;
  padding-bottom: 50px;
}
.table td, .table th {
  padding: .7rem;
  white-space: nowrap;
  vertical-align: middle;
}

.container {
  max-width: 2000px;
}

#vertical,#domain-strat,#chain-brand,#select-location.form-control  {
  background: #7c98ab;
  border-color: #7c98ab; 
  color: white;
}

footer {
  margin-top: 3em;
}


h3,h4 {
  padding: 1rem 0rem;
}
.header {
  padding-top: 50px; 
}

h1 {
  margin-top: .5rem;
}
.btn-primary {
  background: #0d2240;
  border-color: #0d2240; 
  color: white;
}

.btn-secondary {
  background: #7c98ab;
  border-color: #7c98ab; 
  color: white;
}

.btn-outline-secondary:hover {
  background: #7c98ab;
  border-color: #7c98ab; 
}
.btn-primary:hover {
  background: #9ea7b3;
  border-color: #9ea7b3;  
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; 
}
.navbar + .jumbotron {
  margin-top: -20px; 
}
.jumbotron .g5-logo {
  display: block;
  background: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: auto;
  border: 2px solid white; 
}
.jumbotron .g5-logo img {
  max-width: 100%; 
}

html {
  scroll-behavior: smooth;
}

.pt-3-half {
padding-top: 1.4rem;
}

.notes {
  text-align: left;
}

textarea#neighborhood-terms,#landmark-terms,#amenity-terms {
  min-height: 5rem;
  font-size: 90%;
  text-indent: 0;
  padding: .3rem;
  margin-bottom: 0;
  box-sizing: border-box !important;
  width: 100%;
  background-color: transparent;
  border-width: 3px;
  font-size: 1rem;
  height: 7.5rem
}